@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FAFAFA;
    margin: 32px 11px;
}
@media only screen and (min-width: 819px) {
    body{
        margin: 49px 15vw;
    }
}